<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<TMAR>
    <CONFIG>
        <DESCRIPTION_DIRECTORY name="src/test/resources/tmar-descriptions" type="file"/>
        <RESULT_DIRECTORY name="target/tmar-test-results"/>
        <REPORT_DIRECTORY name="target/tmar-test-report"/>
        <PROJECT name="Application de CV ST Groupe"/>
        <LOGO name="logo.png"/>
<SRC_GOOGLE_GRAPH name="https://www.google.com/jsapi"/>
</CONFIG>
</TMAR>
